EcoGame/bin/
EcoGame/obj/
EcoGame/Logs/
EcoGame/Packages/
EcoGame/UserSettings/
EcoGame/Library/
EcoGame/Assets/AI proto/
EcoGame/Assets/Settings/
EcoGame/venv/
EcoGame/results/
EcoGame/.idea/
EcoGame/AI Proto.meta
EcoGame/Settings.meta
EcoGame/Text Pro.meta
EcoGame/Text Pro/
Temp/
ProjectSettings/

.bin/
obj/

.idea/
*~
*.DotSettings.user